#wrap {
	width: 1100px;
	margin: 0 auto;
}

header {
	margin: 20px 0;
	font-size: 150%;
}

header ul li {
	display: inline-block;
}

header ul li:first-child a {
	padding-left: 0;
}

header ul li a {
	padding: 0 10px;
}

#wrap > h1 {
	font-size: 180%;
	margin: 20px 0;
}

#wrap h2 {
	font-size: 150%;
	margin: 0 0 10px;
}

aside {
	display: inline-block;
	width: 200px;
	padding-right: 20px;
	border-right: 1px #aaa solid;
	margin-right: 20px;
	vertical-align: top;
	min-height: 200px;
}

div.right_block {
	display: inline-block;
}

div.edit {
	margin-bottom: 20px;
}

#choose_item {
	margin-bottom: 10px;
}

.hidden {
	display: none;
}

div.in {
	margin-top: 20px;
}

div.in img {
	width: 100px;
}

p.db_error {
	margin: 20px 0;
	color: red;
	font-weight: bold;
}

aside.menu {
	font-size: 110%;
	border-right: 2px #ccc solid;
	width: 160px;
	margin: 35px 40px 0 0;
	float: left;
	padding-right: 10px;
	min-height: 300px;
}

aside.menu ul ul {
	margin: 5px 0 12px 20px;
	display: none;
}

aside.menu div.arrow {
    background: url("/images/menu_sprite.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 5px;
    margin: 8px 0 0 5px;
    vertical-align: top;
    width: 11px;
}

aside.menu li a.open div.arrow {
    background: url("/images/menu_sprite.png") no-repeat scroll 0 -5px transparent;
}