#projects {
	min-height: 80vh;
	background: white;
}

#projects .middle ul.projects {
	
}

#projects > .wrap {
	margin: 0 auto;
	width: 70vw;
	padding: 10vh 0;
}

#projects .middle ul.projects li {
	display: inline-block;
	width: 30%;
	margin: 0 10px;
	vertical-align: top;
	color: #868F90;
	line-height: 1.3;
}

#projects .middle ul.projects li img {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	margin: 0 auto 15px;
	border: 4px #868F90 solid;
}

#projects .middle ul.projects li h3 {
	font-size: 140%;
	width: 300px;
	margin: 0 auto;
}

#projects .middle ul.projects a {
	color: #868F90;
	text-decoration: none;
}