#services {
	background: #EEEFEF;
	height: 80vh;
}

#services > .wrap {
	margin: 0 auto;
	width: 70vw;
	padding-top: 13vh;
}

#services .middle ul.services {
	
}

#services .middle ul.services li {
	display: inline-block;
	width: 30%;
	text-align: left;
	margin: 30px 10px;
}

#services .middle ul.services li a {
	color: black;
	text-decoration: none;
}

#services .middle ul.services li img {
	width: 100px;
	height: 100px;
	float: left;
}

#services .middle ul.services li h3 {
	font-size: 160%;
	margin-left: 120px;
	margin-bottom: 15px;
}

#services .middle ul.services li p {
	font-size: 110%;
	color: #677373;
	margin-left: 120px;
}

#services .middle {
	text-align: left;
}