#slider_top {
	min-height: 100vh;
}

#slider_top ul.bxslider li {
	height: 100vh;
	color: white;
}

#slider_top ul.bxslider li.slider_0 {
	background: url("/images/slider1.jpg") no-repeat;
	-khtml-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

#slider_top ul.bxslider li.slider_1 {
	background: url("/images/slider2.jpg") no-repeat;
	-khtml-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

#slider_top ul.bxslider li.slider_2 {
	background: url("/images/slider3.jpg") no-repeat;
	-khtml-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

#slider_top ul.bxslider .wrap {
	margin: 0 auto;
	width: 80vw;
	padding-top: 25vh;
}

#slider_top .right {
	position: absolute;
	vertical-align: top;
	z-index: 2; 
	right: 10vw;
	top: 19vh;
	text-align: center;
}

#slider_top a.bottom {
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 80px;
	color: white;
	text-decoration: none;
	background: #e67e22;
	position: absolute;
	bottom: 5vh;
	left: 50vw;
	margin-left: -50px;
}

#topSliderCtrl {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
	position: absolute;
	z-index: 2;
	padding-left: 5vw;
	top: 3vh;
	margin-left: -10px;
}

#topSliderCtrl li {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

#topSliderCtrl a {
	cursor: pointer;
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#topSliderCtrl a:hover,
#topSliderCtrl a.active {
  	background: #e67e22;
}

#slider_top .right .wrap {
	text-align: center;
	float: right;
}

#slider_top .right .form {
  	text-align: left;
	width: 290px;
}

#slider_top ul.bxslider li img.logo {
	display: block;
	margin-bottom: 20px;
}

#slider_top ul.bxslider li h1 {
	font-size: 350%;
	margin-bottom: 20px;
  	text-shadow: 1px 1px 1px black;
}

#slider_top ul.bxslider li h2 {
	font-size: 200%;
  	max-width: 480px;
  	font-weight: 300;
  	text-shadow: 1px 1px 1px black;
}

#slider_top .right h1 {
	font-size: 250%;
	margin-bottom: 20px;
  	color: white;
  	text-shadow: 1px 1px 1px black;
}

#slider_top .right .form {
	background: #EDEFF1;
	border-radius: 6px;
	padding: 24px 23px 20px;
}

#slider_top .right .form textarea {
	display: block;
}

#slider_top .right .form div.block {
	margin-bottom: 20px;
}

#slider_top .right .form button {
	width: 100%;
}

.form .form-control:-moz-placeholder {
	color: #b2bcc5;
}
.form .form-control ::-moz-placeholder {
	color: #b2bcc5;
	opacity: 1;
}
.form .form-control :-ms-input-placeholder {
	color: #b2bcc5;
}
.form .form-control ::-webkit-input-placeholder {
	color: #b2bcc5;
}
.form input .placeholder, {
	color: #b2bcc5;
}

.form input  {
	border: 2px solid #bdc3c7;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	color: #34495e;
	font-size: 15px;
	line-height: 1.467;
	padding: 8px 12px;
	-webkit-appearance: none;
	border-radius: 6px;
	width: 260px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.form input:hover {
	border-color: #bdc3c7;
}
.form input:focus {
	border-color: #e67e22;
}

.form textarea {
	font-size: 15px;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	line-height: 24px;
	padding: 5px 11px;
	color: #34495e;
	padding: 8px 12px;
	-webkit-appearance: none;
	border-radius: 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 260px;
	resize: none;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	border: 2px solid #bdc3c7;
}

.form textarea:hover {
	border-color: #bdc3c7;
}
.form textarea:focus {
	border-color: #e67e22;
}

button {
	display: block;
	cursor: pointer;
	background: #D35400;
	color: white;
	padding: 10px 19px;
	font-size: 17px;
	line-height: 1.471;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	-moz-transition: background-color 0.5s 0.1s ease;
	-o-transition: background-color 0.5s 0.1s ease;
	-webkit-transition: background-color 0.5s 0.1s ease;
}

button.disabled, button[disabled], button.disabled:hover, button[disabled]:hover {
	background: #BDC3C7;
	border-color: #BDC3C7;
}

button:hover {
	color: #FFF;
	background-color: #e67e22;
}


@media screen and (max-width: 1300px) {
    #slider_top ul.bxslider .wrap {
		width: 90vw;
	}

	#slider_top .right {
		right: 5vw;
	}
}

@media screen and (max-width: 1100px) {
    #slider_top ul.bxslider li h1 {
  		max-width: 520px;
  	}

  	#slider_top ul.bxslider li h2 {
  		max-width: 450px;
  	}
}

@media screen and (max-width: 900px) {
    #slider_top .right {
        display: none;
    }

    #slider_top ul.bxslider li h1 {
  		max-width: 800px;
  	}

  	#slider_top ul.bxslider li h2 {
  		max-width: 600px;
  	}
}

@media screen and (max-height: 600px) {
	#slider_top ul.bxslider .wrap {
		padding-top: 15vh;
	}

	#slider_top .right {
        top: 5vh;
    }
}

@media screen and (max-height: 500px) and (max-width: 1100px) {
    #slider_top ul.bxslider li h1 {
  		max-width: 800px;
  	}

  	#slider_top ul.bxslider li h2 {
  		max-width: 600px;
  	}
}

@media screen and (max-height: 500px) {
	#slider_top .right {
        display: none;
    }
}