header {
	width: 100%;
	z-index: 10;
	background: white; /*#BDC3C7*/
	border-bottom: 1px #BBBFBF solid;
	height: 76px;
}


header img.header_logo {
	float: left;
	height: 50px;
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 25px;
}

header nav {
	display: block;
	vertical-align: top;
}


header nav ul li a:hover, header nav ul li a.active {
	border-bottom: 2px #D35400 solid;
	color: #D35400;
	padding-bottom: 29px;
}


header nav ul li {
	display: inline-block;
}

header nav ul li a {
	padding: 30px 50px;
	text-decoration: none;
	display: inline-block;
	color: #BBBFBF;
	border-bottom: 1px #BDC3C7 solid;
}


@media screen and (max-width: 1150px) {
    header nav ul li a {
		padding: 30px 30px;
    }
}


@media screen and (max-width: 900px) {
    header {
        display: none;
    }
}