#block_1 {
	
}

#block_1 .left {
	width: 50%;
	vertical-align: top;
	display: inline-block;
}

#block_1 .right {
	display: inline-block;
	vertical-align: top;
}

#block_1 .left img.logo {
	display: block;
	margin-bottom: 20px;
}

#block_1 .left h1 {
	font-size: 350%;
	margin-bottom: 20px;
}

#block_1 .left h2 {
	font-size: 200%;
}

#block_1 .right h1 {
	font-size: 250%;
	margin-bottom: 20px;
}

#block_1 .right .form {
	background: #ddd;
	width: 200px;
	padding: 10px;
}

#block_1 .right .form label {
	display: block;
}

#block_1 .right .form input {
	display: block;
}

#block_1 .right .form textarea {
	display: block;
}

#block_2 {
	margin-top: 50px;
}

.middle {
	text-align: center;
}

.middle > h1 {
	font-size: 400%;
}

.middle > h2 {
	font-size: 200%;
	margin-bottom: 70px;
}

#block_2 .middle ul.cases {
	
}

#block_2 .middle ul.cases li {
	display: inline-block;
	width: 30%;
	margin: 0 10px;
	vertical-align: top;
}

#block_2 .middle ul.cases li div.img {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	border: 1px black solid;
	margin: 0 auto 15px;
}

#block_2 .middle ul.cases li h3 {
	font-size: 160%;
}

#block_3 {
	margin-top: 50px;
}

#block_3 .middle ul.services {
	
}

#block_3 .middle ul.services li {
	display: inline-block;
	width: 30%;
	text-align: left;
	margin: 10px;
	vertical-align: top;
}

#block_3 .middle ul.services li div.img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: 1px black solid;
	float: left;
}

#block_3 .middle ul.services li h3 {
	font-size: 160%;
	margin-left: 120px;
}

#block_4 {
	margin-top: 50px;
}

#block_4 .middle h1 {
	margin-bottom: 50px;
}

#block_4 .middle ul.news {
	display: inline-block;
	vertical-align: top;
}

#block_4 .middle ul.news li {
	background: #ddd;
	border: 1px black solid;
	width: 300px;
	margin: 10px 30px;
	padding: 10px;
	text-align: left;
}

#block_4 .middle ul.news li div.img {
	width: 300px;
	height: 100px;
	border: 1px black solid;
	margin: 0 auto;
}