body {
  background: white;
  margin: 0 auto;
  /*font-size: 90%;*/
  font-family: Calibri, Helvetica, Arial, sans-serif;
}

#wrap {
  min-height: 880px;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  background: white;
  padding: 0 20px;
}

button {
  padding: 7px 10px;
  display: block;
  cursor: pointer;
  background: #36a09f;
  color: white;
  border: 0;
}

button:hover {
  background: #36a09f;
}

a {
  color: #36a09f;
}