@font-face {
  font-family: 'Lato';
  src: url('/images/Lato-Regular.ttf')  format('truetype');
}


body {
  background: white;
  margin: 0 auto;
  /*font-size: 90%;*/
  font-family: Calibri;
}

#wrap {
  min-height: 880px;
  height: auto;
  margin: 0 auto;
  background: white;
}

button {
  padding: 7px 10px;
  display: block;
  cursor: pointer;
  background: #36a09f;
  color: white;
  border: 0;
}

button:hover {
  background: #36a09f;
}

a {
  color: #36a09f;
}