div.open {
	margin: 0 auto;
	width: 1024px;
}

div.open h1 {
	font-size: 400%;
	position: relative;
	top: -40px;
	display: inline-block;
	background: white;
}

div.open div.text {

}

div.open div.text p {
	margin-bottom: 10px;
}