div.open {
	margin: 50px auto 0;
	width: 1024px;
}

div.open h1 {
	font-size: 400%;
	position: relative;
	top: -40px;
	display: inline-block;
	padding: 10px 20px 10px 10px;
	background: white;
	font-weight: bold;
}

div.open > img {
	border-radius: 6px;
}

div.open div.text {
	font-size: 120%;
	color: #677373;
	margin: 0 0 100px 10px;
	line-height: 1.5;
	text-align: justify;
}

div.open div.text p {
	margin-bottom: 10px;
}

div.open time {
	margin: -20px 0 30px 10px;
	display: block;
	color: #868F90;
}